/Practica 1/nbproject/private/
/Practica 1/build/
/PrActica1/nbproject/private/
/PrActica1/build/
/PrActica2/nbproject/private/
/PrActica2/build/
/Clase6/nbproject/private/
/Clase6/build/
/Clase7/nbproject/private/
/Clase7/build/
/PracticaArreglos/nbproject/private/
/PracticaArreglos/build/
/Clase9/nbproject/private/
/Clase9/build/
/PracticaMatriz/nbproject/private/
/ParacticaMatriz/nbproject/private/
/PracticaMatrizT/nbproject/private/
/PracticaMatrizT/build/
/TareaMatriz/nbproject/private/
/Examen_1/examen_1/nbproject/private/
/Clase11/nbproject/private/
/Clase11/build/